.categories_page h1 {
    font-weight: 700;
    font-size: 40px;
    margin: 50px 0 50px 0;
}

.categories_cards {
    display: grid;
    grid-template-columns: repeat( 4, 1fr );
    gap: 45px;
    row-gap: 100px;
}

@media screen  and (max-width: 412px) {

    .categories_page h1 {
        text-align: center;
        font-size: 20px;
    }
    .categories_cards {
        grid-template-columns: repeat( 2, 1fr );
        gap: 30px;
        row-gap: 40px;
    }
}


/* @media (max-width: 820px) {

    .categories_page h1 {
        width: 820px;
        text-align: center;
    }

    .categories_cards {
        grid-template-columns: repeat( 3, 1fr );
        align-items: center;
        gap: 35px;
        row-gap: 0;
        padding: 0 0 0 139px;
        width: 200px;
        height: 650px;
        margin: 0;
    }
}

@media  (max-width: 768px) {
    .categories_page h1 {
        width: 768px;
    }

    .categories_cards {
        width: 768px;
        padding: 0 25px 0 25px;
    } 
}

@media  (max-width: 412px) {

    .categories_page h1 {
        width: 380px;
    }

    .categories_cards {
        grid-template-columns: repeat( 2, 1fr );
        width: 200px;
        height: 750px;
        padding: 0 25px 0 25px;
    } 
} */