s.common_block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sorting {
    display: flex;
    flex-direction: row;
    margin: 70px 0 55px 0;
}

.sorting span {
    font-weight: 600;
    font-size: 20px;
    padding: 25px;
}

.search_form input,
.sort_select {
    border: 1px solid black;
    border-radius: 7px;
    padding: 10px;
    margin: 0 20px 0 0;
    
    
}

.search_form {
    display: inline;
}

.search_form button {
    border: 1px solid black;
    border-radius: 7px;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
}

.search_form button:hover {
    color: white;
    background-color: #34495E;
}

.products_category_page {
    display: grid;
    grid-template-columns: repeat( 4, 1fr );
    gap: 50px;
    row-gap: 30px;
}

@media screen  and (max-width: 767px) {
    .sorting {
        display: block;
    }

    .block_sorted {
        margin: 15px 0 0 0;
    }

    .search_form input,
    .sort_select {
        max-width: 75px;
        padding: 10px;
        margin: 0 10px 0 0;
        font-size: 10px;
    }

    .sort_select {
        padding: 10px 10px 10px 5px;
    }

    .search_form button {
        font-size: 10px;
    }
}

@media screen  and (max-width: 412px) {
    .products_category_page {
        grid-template-columns: repeat( 2, 1fr );
        gap: 0;
        row-gap: 10px;
    }

    .sorting span {
        font-size: 15px;
        padding: 25px 10px 0 0;
    }
}
